*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
.eslintrc.js
prettier.config.js
/src/mock/*


; 作者：who君
; 链接：https://juejin.cn/post/6975442828386107400
; 来源：掘金
; 著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。