.my-login__hook-form {
  position: absolute;
  top: 35%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 450px;
  // height: 300px;
  padding-top: 20px;
  color: white;
  background: rgb(0 0 0 / 50%);
  border-radius: 8px;

  form {
    width: 315px;

    .form-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 315px;
      padding-left: 15px;
    }
  }

  p {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: serif;
  }

  .ant-form-item-label > label {
    color: #fff;
  }
}
