.exercise_wrapper {
  position: relative;
  overflow: hidden;

  .add_log_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }

  .icon {
    display: block;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;

    &:active {
      scale: 0.93;
    }

    &:hover {
      display: block;
      background: rgb(0 0 0 / 5%);
      border-radius: 50%;
    }

    &.edit {
      color: #1890ff;
    }

    &.delete {
      color: #ff4d4f;
    }
  }

  .stat-radio-group {
    position: absolute;
    top: -50px;
    right: 150px;
  }

  @media (max-width: 1200px) {
    .stat-radio-group {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 24px;
    }
  }

  .time_line_wrapper {
    height: calc(100vh - 254px);
    overflow-y: auto;
  }
}
