@import './static/style/normal.css';

html,
body,
#root,
.ant-layout {
  width: 100%;
  height: 100%;
  margin: 0;
}

.suspense {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// 滚动条
@mixin scrollbar(
  $width: 2px,
  $height: 4px,
  $thumbColor: rgba(201, 203, 203, 0.9),
  $trackColor: rgb(255, 255, 255)
) {
  &::-webkit-scrollbar {
    display: block;
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
    border-radius: 4px;
  }
}

* {
  @include scrollbar($width: 6px);
}
