.socket {
  position: relative;
  width: 100%;
  height: 700px;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  form {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background: #000;
  }

  form input {
    width: 90%;
    margin-right: 0.5%;
    padding: 10px;
    border: 0;
  }

  form button {
    width: 9%;
    padding: 10px;
    background: rgb(130 224 255);
    border: none;
  }

  #messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #messages li {
    padding: 5px 10px;
    line-height: 40px;
  }

  #messages li:nth-child(odd) {
    background: #eee;
  }
}
