@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  font-family: Muli, serif;

  .panel {
    position: relative;
    flex: 0.5;
    height: 80vh;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 700ms ease-in;
    block-size: cover;

    h3 {
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      color: #fff;
      font-size: 24px;
      opacity: 0;
    }

    &.active {
      flex: 5;

      h3 {
        opacity: 1;
        transition: opacity 0.3 ease-in 0.4s;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
